/*
$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop

//1em = 16px

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 112.5em) {
    html {
      font-size: 60%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.2%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 40%; } }

body {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  min-height: 100vh;
  position: relative; }

main {
  text-align: center;
  width: 80%;
  margin: 0 auto; }
  @media (max-width: 112.5em) {
    main {
      font-size: 60%;
      width: 60%; } }
  @media (max-width: 37.5em) {
    main {
      font-size: 40%;
      width: 80%; } }

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); }

.footer-words {
  padding-bottom: 2rem; }

.container-center {
  display: inline-block; }

.heading-primary {
  text-align: left;
  margin-top: 5rem;
  font-size: 4rem;
  font-weight: 400; }

.heading-primary-sub {
  font-size: 5rem;
  font-weight: 700; }

.word-definition {
  margin-top: 5rem;
  font-size: 2.5rem;
  text-align: justify; }

.word-intro {
  text-align: center;
  font-weight: 700; }

.syl-break {
  font-weight: 400; }

.description {
  margin-top: 3rem;
  font-size: 2.6rem;
  text-align: left; }

.input-box-field {
  margin-top: 3rem;
  height: 5rem;
  width: 100%;
  font-size: 3rem;
  text-align: center;
  background-color: #111;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  border: none;
  outline: none; }

.input-box-field:focus {
  height: 5rem;
  font-size: 3rem;
  outline: none;
  color: black;
  background-color: rgba(205, 205, 205, 0.756); }

.btn-container {
  margin-top: 10rem;
  display: inline-block; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 3rem;
  font-weight: 700;
  cursor: pointer;
  width: 35rem;
  text-align: center; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn--animated:hover {
  animation: moveInButtom ease-out .4s .75s;
  animation-fill-mode: backwards; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transition: all .4s; }

.btn--black {
  background-color: black;
  color: #fff; }

.btn--black::after {
  background-color: #cdcdcd; }

.message-output {
  margin-top: 4rem;
  display: block; }

.message-success {
  font-size: 3rem;
  color: #3fa83b;
  display: block; }

.message-fail {
  font-size: 3rem;
  color: #ca5858; }
